<?xml version="1.0"?>
<config>
	<modules>
		<Studioraz_MenuManager>
			<version>0.1.0</version>
		</Studioraz_MenuManager>
	</modules>
	<global>
		<helpers>
			<ipmenumanager>
				<class>Studioraz_MenuManager_Helper</class>
			</ipmenumanager>
		</helpers>
		<blocks>
			<ipmenumanager>
				<class>Studioraz_MenuManager_Block</class>
			</ipmenumanager>
		</blocks>
		<models>
			<ipmenumanager>
				<class>Studioraz_MenuManager_Model</class>
				<resourceModel>ipmenumanager_mysql4</resourceModel>
			</ipmenumanager>
			<ipmenumanager_mysql4>
				<class>Studioraz_MenuManager_Model_Mysql4</class>
				<entities>
					<menuitem>
						<table>ipmenumanager_menuitem</table>
					</menuitem>
					<menu>
						<table>ipmenumanager_menu</table>
					</menu>
				</entities>
			</ipmenumanager_mysql4>
		</models>
		<resources>
			<ipmenumanager_setup>
				<setup>
					<module>Studioraz_MenuManager</module>
					<class>Studioraz_MenuManager_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ipmenumanager_setup>
			<ipmenumanager_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ipmenumanager_read>
			<ipmenumanager_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ipmenumanager_write>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<ipmenumanager>
					<file>ipmenumanager.xml</file>
				</ipmenumanager>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<ipmenumanager_admin>
				<use>admin</use>
				<args>
					<module>Studioraz_MenuManager</module>
					<frontName>admin_ipmenumanager</frontName>
				</args>
			</ipmenumanager_admin>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<ipmenumanager>
					<file>ipmenumanager.xml</file>
				</ipmenumanager>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<ipmenumanager>
			<settings>
				<enabled>1</enabled>
			</settings>
		</ipmenumanager>
	</default>
</config>